name: Test Developer Certificate of Origin

on:
  pull_request:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: KineticCafe/actions-dco@6e1652ef3027ce128e65e6edd215ae053350bd16 # 2.1.1
        with:
          exempt-authors: |
            @powerdns.com
            @open-xchange.com
